body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f4f4f4;
}

.container {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
	margin-top: 20px;
}

.form-label {
	font-weight: bold;
}

.btn-primary {
	background-color: #4CAF50;
	border: none;
	padding: 10px 20px;
	margin-top: 20px;
}

.btn-primary:hover {
	background-color: #3e8e41;
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.mt-4 {
	margin-top: 1.5rem;
}

.mt-5 {
	margin-top:
}